@model AngularView.Models.DetalleCaja

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Administrador.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DetalleCaja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resumen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resumen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedWhats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedWhats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedFacebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedFacebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedInstagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedInstagram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoYoutube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoYoutube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCajaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCajaNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdExpositorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdExpositorNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
