@model AngularView.Models.ViewModels.ModelListproduct
@{

    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_LayoutExpositor.cshtml";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Registrar productos o servicio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
        Titulo 
            </th>
            <th>
               Descripción
            </th>
            <th>
                Costo Normal
            </th>
            <th>
             Con Descuento
            </th>
            <th>
             Descuento
            </th>
            <th>
               Producto o Servicio
            </th>
            <th>
                Interesados
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.productoServicios) {


    <tr>
        <td>
            @{string rut = "../Img/angularView.png";}
            <img style="width:7em" src="@Url.Content(String.Format("~/Img/Logos/" + item.Id + ".png"))" onerror="if (this.src != '@rut') this.src = '@rut';">
            <hr />

            <a asp-action="SubirImagen" asp-route-id="@item.Id">Cambiar imagen</a>


        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioNormal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioDescuento)
            </td>
            <td>
                @if (item.Descuento == 1)
                {
                    <p>Sí</p>
                }
                else
                {
                    <p>No</p>
                }
            </td>
            <td>
                @if (item.Tipo==1)
                {
                    <p>Producto</p>
                }
                else
                {
                    <p>Servicio</p>
                }

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
