@model List<AngularView.Models.ViewModels.ModelCajasExpo>

@{
    ViewData["Title"] = "Cajones";
    Layout = "~/Views/Shared/Expo_Layout.cshtml";
    string estilo = "";
    string sala = "";
    if(Model[0].caja.IdSala==1)
    {
        sala = "1";
    }

    if (Model[0].caja.IdSala == 2)
    {
        sala = "Vip";
        }

    if (Model[0].caja.IdSala == 3)
    {
        sala = "2";
        }

}
<h1 style="        background-color: #17bba0;
        text-align: center;
        color: white">Sala @sala</h1>
<div class="row">
    @foreach (var item in Model)
    {

        @if (!item.Exitente)
        {
            estilo = "bg-light";
        }
       else
        {
            estilo = "bg-warning";
        }



    <div class="col-3" style="max-width: 250px;">

        <div class="container" style="min-width: 200px; max-width: 250px;">

            <div class="card-columns" style="max-width: 200px;">
                <div class="card @estilo" style="min-width: 220px; min-height: 130px; position: relative; ">
                 @if (item.Exitente)
                 {   
                     <a class="container" asp-action="detallecajon" asp-route-id="@item.caja.Id" style="width: 100%; height: 100%; z-index: 999; position:absolute; "></a>
                 }

                    <div class="card-body">
                        <div class="row">
                            <div class="col-4" style="display: flex;">
                                @if (!item.Exitente)
                                {
                                    <img src="~/Img/angularView.png" style="width:100%; height:100%; align-self: center;">

                                }
                                else
                                {
                                    string rut = "http://angularviewexpo.com/Img/Logos/" + item.detalleCaja.IdCaja + ".png";
                                    <img style="width:5em" src="@rut" onerror="if(this.src != '@rut') this.src = 'http://angularviewexpo.com//Img/angularView.png">
                                }
                            </div>
                            <div class="col-8">
                                @if (item.Exitente)
                                {
                                    <p style="padding-left: 15px;">@item.detalleCaja.Titulo</p>
                                }
                                else
                                {
                                 <p style="padding-left: 15px;"> Caja @item.caja.Descripcion</p>

                                }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    }
</div>
