@model List<AngularView.Models.ViewModels.ModelCajasExpo>

@{
    ViewData["Title"] = "Cajones";
    Layout = null;
}
    <!DOCTYPE html>

    <html style="width: 100%;overflow-x: hidden;">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AngularView</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="~/Img/angularView.png" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/Style.css" />
    </head>
    <body style="        /* background-image: url(/Img/FonAngular.jpeg);background-image: repeating-linear-gradient(90deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),repeating-linear-gradient(0deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),repeating-linear-gradient(135deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),linear-gradient(90deg, hsl(275,3%,97%),hsl(275,3%,97%));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;  background-repeat: no-repeat; */">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark fixed-top  border-bottom mb-3" style="margin-bottom: 0em!important;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-action="IndexSucces">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="cajones" asp-route-id="1">Sala 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="cajones" asp-route-id="2">Sala Vip</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="cajones" asp-route-id="3">Sala 2</a>
                        </li>

                    </ul>
                </div>
            </div>

        </nav>
        <header>
        </header>
        <div>
            @{
                string estilo = "";
                string estiloII = "";
                string sala = "";
                if (Model[0].caja.IdSala == 1)
                {
                    sala = "1";
                }

                if (Model[0].caja.IdSala == 2)
                {
                    sala = "Vip";
                }

                if (Model[0].caja.IdSala == 3)
                {
                    sala = "2";
                }

            }
            <h1 style="        background-color: #17bba0;
        text-align: center;
        color: white">
                Sala @sala
            </h1>
            <div class="row" style="padding:3em">
                @foreach (var item in Model)
                {

                    @if (!item.Exitente)
                    {
                        //estilo = "background-image: url(../../img/Recurso2.png );background-repeat: no-repeat; background-position: right;";

                    }
                    else
                    {
                        //estilo = " background-image: url(../../img/Recurso1.png );background-repeat: no-repeat; background-position: right;";
                    }
                    if (item.caja.Tipo == 2)
                    {
                        estiloII = " background-color: rgb(253, 255, 131,0.7 ); ";

                    }
                    else
                    {
                        estiloII = " background-color: rgb(255, 255, 255,0.7 ); ";
                    }


                    if (item.caja.Activo == 1)
                    {
                        if (item.caja.Tipo == 1)
                        {
                            <div class="col-3" style="max-width: 250px;">

                                <div class="container" style="min-width: 200px; max-width: 250px;">

                                    <div class="card-columns" style="max-width: 200px;">
                                        <div class="card @estilo" style="        min-width: 220px; min-height: 130px; position: relative;  @estiloII
">
                                            @if (item.Exitente)
                                            {
                                                <a class="container d-none d-sm-none d-md-block" asp-action="detallecajon" asp-route-id="@item.caja.Id" style="width: 100%; height: 100%; z-index: 999; position:absolute; "></a>

                                            }

                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="" style="display: flex;">
                                                        @if (!item.Exitente)
                                                        {

                                                            @*<img src="~/Img/Espacios/stanvacio.png" style=" height:56px; align-self: center;position: absolute;top: 31%;">*@
                                                            <img style="width:5em;left: 69px;position: absolute;" src="" onerror="if(this.src != 'http://angularviewexpo.com//Img/angularView.png') this.src = 'http://angularviewexpo.com//Img/angularView.png'">

                                                        }
                                                        else
                                                        {
                                                            @*<img src="~/Img/Espacios/sta.png" style=" height: 56px; align-self: center; position: absolute; top: 31%; left: -5px;">*@
                                                            string rut = "http://angularviewexpo.com/Img/Logos/" + item.detalleCaja.IdCaja + ".png";
                                                            <img style="width:5em;left: 69px;position: absolute;" src="@rut" onerror="if(this.src != 'http://angularviewexpo.com//Img/angularView.png') this.src = 'http://angularviewexpo.com//Img/angularView.png'">
                                                        }
                                                    </div>
                                                    <div class="col-12">
                                                        @if (item.Exitente)
                                                        {
                                                            <p style="padding-left: 15px;top: 68px;position: absolute;" class="font-weight-bold">@item.detalleCaja.Titulo</p>
                                                        }
                                                        else
                                                        {
                                                            <p style="padding-left: 0px;position: absolute;top: 72%;"> Local @item.caja.Descripcion</p>

                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="col-5" style="        max-width: 350px;   ">

                                <div class="container" style="min-width: 200px; max-width: 350px;">

                                    <div class="card-columns" style="max-width: 300px;">
                                        <div class="card " style=" background-color: #ffffff4D; min-width: 280px; width: 280px; min-height: 250px; position: relative; transform: perspective(500px) rotateX(-18deg); @estilo">
                                            @if (item.Exitente)
                                            {
                                                <a class="container d-none d-sm-none d-md-block" asp-action="detallecajon" asp-route-id="@item.caja.Id" style="width: 100%; height: 100%; z-index: 999; position:absolute; "></a>

                                            }

                                            <div class="card-body">
                                                <div class="" style="text-align:center">
                                                    <div class="row" style="">
                                                        @if (!item.Exitente)
                                                        {

                                                            <img src="~/Img/angularView.png" style="width:50%; margin-left:8%; align-self: center;">
                                                            <img src="~/Img/Recurso2.png" style="width:35%; margin-left:4%;  align-self: center;">
                                                        }
                                                        else
                                                        {
                                                            string rut = "http://angularviewexpo.com/Img/Logos/" + item.detalleCaja.IdCaja + ".png";
                                                            <img style="width:40%; margin-left:8%" src="@rut" onerror="if(this.src != 'http://angularviewexpo.com//Img/angularView.png') this.src = 'http://angularviewexpo.com//Img/angularView.png'">
                                                            <img src="~/Img/Recurso1.png" style="width:35%; margin-left:8%; align-self: center;">
                                                        }
                                                    </div>
                                                    <div class="">
                                                        @if (item.Exitente)
                                                        {
                                                            <p style="padding-left: 15px;" class="font-weight-bold h4">@item.detalleCaja.Titulo</p>
                                                        }
                                                        else
                                                        {
                                                            <p style="padding-left: 15px;"> Local @item.caja.Descripcion</p>

                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        }

                    }
                }
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>
