@model IEnumerable<AngularView.Models.ViewModels.ModelCajasExpo>

@{
    ViewData["Title"] = "Cajones";
    Layout = "~/Views/Shared/Expo_Layout.cshtml";
    string estilo = "";
}
<h1 style="background-color: grey; text-align: center;">Sala 1</h1>
<div class="row">
    @foreach (var item in Model)
    {
        @if (item.caja.Ocupado == 0)
        {
            estilo = "";
        }
        @if (item.caja.Ocupado == 1)
        {
            estilo = "";
        }
        @if (item.caja.Ocupado == 2)
        {
            estilo = "bg-light";
        }



    <div class="col-3" style="max-width: 250px;">

        <div class="container" style="min-width: 200px; max-width: 250px;">

            <div class="card-columns" style="max-width: 200px;">
                <div class="card @estilo" style="min-width: 220px; position: relative; ">
                 @if (item.Exitente)
                 {   
                     <a class="container" asp-action="detallecajon" asp-route-id="@item.caja.Id" style="width: 100%; height: 100%; z-index: 999; position:absolute; "></a>
                 }

                    <div class="card-body">
                        <div class="row">
                            <div class="col-4" style="display: flex;">
                                @if (!item.Exitente)
                                {
                                    <img src="~/Img/angularView.png" style="width:70px; height:70px; align-self: center;">

                                }
                                else
                                {
                                    string rut = "http://angularviewexpo.com/Img/Logos/" + item.detalleCaja.IdCaja + ".png";
                                    <img style="width:5em" src="@rut" onerror="if(this.src != '@rut') this.src = 'http://angularviewexpo.com//Img/angularView.png">
                                }
                            </div>
                            <div class="col-8">
                                @if (item.Exitente)
                                {
                                    <p>@item.detalleCaja.Titulo</p>
                                }
                                else
                                {
                                 <p> Caja @item.caja.Descripcion</p>

                                }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    }
</div>
