
@model AngularView.Models.ViewModels.ModelDetalleCajon
@{
    ViewData["Title"] = "MisCajones";
    Layout = "Expo_Layout";

    string sala = "";
    int posi = 0;

    if (Model.detalleCaja.IdCajaNavigation.IdSala == 2)
    {
        sala = "VIP";
    }
    else
    {
        sala = Model.detalleCaja.IdCajaNavigation.IdSala.ToString();
    }

}
@{string rut = "../../Img/Logos/" + Model.detalleCaja.IdCaja + ".png";}
@if (Model.detalleCaja.IdCajaNavigation.Tipo == 1)
{

    <img class="fondo-pantalla" src="~/Img/Espacios/stand1.png">
    <div class="row">
        <div class="col-8">
            <div class="row" style="height: 50%">
                <div class="col-6">
                    @{string rutaL = "../Img/Logos/" + Model.detalleCaja.Id + ".png";}

                    <img class="logo-stand" src="@rutaL" onerror="if (this.src != @rutaL) this.src = '../Img/angularView.png';" style="width: 25%; height: 33%; margin-top: 15%; margin-left: 14%">

                </div>
                <div class="col-6">
                    <h1 style="margin-top: 25%; margin-left: 20%;">@Model.detalleCaja.Titulo</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="container" style="width: 60%; height: 60%; max-height: 200px; padding-left: 11%;">
                        <p style="text-align: justify; font-size: 1.3vw;">@Model.detalleCaja.Resumen</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="container" style="width: 60%; height: 60%; max-height: 200px; display: flex; padding-top: 6%; padding-left: 4%;">
                        @if (!String.IsNullOrEmpty(Model.detalleCaja.RedFacebook))
                        {
                            <a href="https://www.facebook.com/@Model.detalleCaja.RedFacebook" style="margin: auto 0 auto 0; border-radius: 50px"><img src="~/Img/Logos/fb-logo-64px.png" style="height: 72px; width: 72px; border-radius: 50px" /></a>
                        }
                        @if (!String.IsNullOrEmpty(Model.detalleCaja.RedWhats))
                        {
                            string link = "https://wa.me/52" + Model.detalleCaja.RedWhats;
                            <a href="@link" style="margin: auto 3% auto 3%; border-radius: 50px"><img src="~/Img/Logos/wa-logo-64px.png" style="height: 72px; width: 72px; border-radius: 50px " /></a>
                        }
                        @if (!String.IsNullOrEmpty(Model.detalleCaja.RedInstagram))
                        {
                            <a href="https://www.instagram.com/@Model.detalleCaja.RedInstagram" style="margin: auto 0 auto 0; border-radius: 50px"><img src="~/Img/Logos/ig-logo-64px.png" style="height: 72px; width: 72px; " /></a>
                        }


                    </div>
                </div>
            </div>
        </div>

    </div>
}
else if (Model.detalleCaja.IdCajaNavigation.Tipo == 2)
{
    <div>
        <img class="fondo-pantalla" src="~/Img/Espacios/standVip.png">
        <div class="row">
            <div class="col-9">
                <div class="row" style="height: 40%">
                    <div class="col-6">


                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-light" style="margin:3em" data-toggle="modal" data-target="#exampleModalLong">
                            Catalogo
                        </button>
                    </div>
                </div>
                <div class="row" style="height: 25%;">
                    <div class="col-5">
                        <div class="container" style="width: 60%; height: 60%; max-height: 200px; padding-left: 6%; margin-right: 11%;">
                            <p style="text-align: justify; font-size: 1.3vw;">@Model.detalleCaja.Resumen</p>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="video-container">
                            @if (!string.IsNullOrEmpty(Model.detalleCaja.VideoYoutube))
                            {<iframe class="responsive-iframe"
                                     src="@Model.detalleCaja.VideoYoutube">
                                </iframe>
                            }
                        </div>

                    </div>
                    <div class="col-2">
                        <h1 style="margin-top: 25%; margin-left: 8%; font-size: 2.5vw;">@Model.detalleCaja.Titulo</h1>

                    </div>
                </div>
                <div class="row" style="height: 10%">
                    <div class="col-2">
                        @{string rutaLs = "../Img/Logos/" + Model.detalleCaja.Id + ".png";}

                        <img class="logo-stand-vip" src="@rutaLs" onerror="if (this.src != '../../Img/angularView.png') this.src = '../../Img/angularView.png';" style="width: 50%; height: 50%; margin-top: 8%; ">
                    </div>
                    <div class="col-3">
                        <div class="container" style="width: 100%; height: 60%; max-height: 200px; display: flex; padding-top: 60%">

                            @if (!String.IsNullOrEmpty(Model.detalleCaja.RedFacebook))
                            {

                                <a href="https://www.facebook.com/@Model.detalleCaja.RedFacebook" style="margin: auto; border-radius: 50px"><img src="~/Img/Logos/fb-logo-64px.png" style="height: 72px; width: 72px; border-radius: 50px" /></a>
                            }
                            @if (!String.IsNullOrEmpty(Model.detalleCaja.RedWhats))
                            {
                                string link = "https://wa.me/52" + Model.detalleCaja.RedWhats;
                                <a href="@link" style="margin: auto; border-radius: 50px"><img src="~/Img/Logos/wa-logo-64px.png" style="height: 72px; width: 72px; border-radius: 50px" /></a>
                            }
                            @if (!String.IsNullOrEmpty(Model.detalleCaja.RedInstagram))
                            {
                                <a href="https://www.instagram.com/@Model.detalleCaja.RedInstagram" style="margin: auto; border-radius: 50px"><img src="~/Img/Logos/ig-logo-64px.png" style="height: 72px; width: 72px;" /></a>
                            }




                        </div>
                    </div>
                    <div class="col-7">

                    </div>
                </div>
            </div>

        </div>
    </div>
}

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="GoVenta" method="post">
                <input type="hidden" asp-for="@Model.detalleCaja.Id" />
                <input type="hidden" asp-for="@Model.IdExpositor" value="@Model.detalleCaja.IdExpositor" />
                <div class="position-static">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Productos y/o Servicios</h5>

                        <button type="button" class="btn btn-primary btn-sm ml-xl-auto" style="
                            background: #4DCBAE;
                            width: 5em;
                            height: 3em;
                            border-color: #4DCBAE;">
                            Solictar
                        </button>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-12">
                            <div style="margin-top: 10%;">
                                @for (int i = 0; i < Model.listProductSelected.Count; i++)
                                {

                                    <div class="row container" style="padding-top: 1%; padding-bottom: 1%">
                                        <div class="col-4">
                                            <div class="container" style="display: flex; justify-content: center;">
                                                <img src="~/Img/angularView.png" style="width:70px; height:70px;">

                                            </div>
                                            <hr />
                                            <div class="form-check">
                                                <input type="checkbox" asp-for="@Model.listProductSelected[i].Selected" />
                                                <label asp-for="@Model.listProductSelected[i].Selected">@Model.listProductoServicios[i].Nombre</label>
                                                <input type="hidden" asp-for="@Model.listProductSelected[i].IdProduct" />
                                                <input type="hidden" asp-for="@Model.listProductoServicios[i].Nombre" />
                                                <input type="number" asp-for="@Model.listProductSelected[i].Cant" />
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Interesado
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-8">

                                            <h4 style="font-size: 1.5vw;">@Model.listProductoServicios[i].Nombre</h4>
                                            <hr />
                                            <p style="font-size: 1.0vw;">@Model.listProductoServicios[i].Decripcion</p>
                                            <hr />
                                            @if (Model.listProductoServicios[i].Descuento == 1)
                                            {
                                                <p style="font-size: 1.3vw;">@Model.listProductoServicios[i].PrecioDescuento</p>
                                            }
                                            else
                                            {
                                                <p style="font-size: 1.3vw;">@Model.listProductoServicios[i].PrecioNormal</p>
                                            }

                                        </div>
                                    </div>
                                }
                            </div>
                            <hr color="Black" width="700">
                            <h1>Datos del cliente</h1>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Razon Social</label>
                                            <input type="text" asp-for="@Model.razonSocial" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>RFC</label>
                                            <input type="text" asp-for="@Model.RFC" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Telefono</label>
                                            <input type="text" asp-for="@Model.Telefono" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Direccion </label>
                                    <input type="text" asp-for="@Model.Direccion" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>

                    </div>
</form>
        </div>
    </div>
</div>




@*Modal*@
