@model AngularView.Models.ViewModels.ModelDetalleCajon
@{
    ViewData["Title"] = "GoVenta";
    Layout = "~/Views/Shared/Expo_Layout.cshtml";
    double subtotal = Model.Total - Model.Iva;

}
<div class="container ">
    <br />
    <br />
    <br />
    <br />
    <div class="card">
        <div class="card-header">
            <h1 >Información de pedido</h1>
        </div>
        <form asp-action="CreateVenta" method="post">
            <input type="hidden" asp-for="@Model.detalleCaja.Id" />
            <input type="hidden" asp-for="@Model.detalleCaja.RazonSocial" />
            <input type="hidden" asp-for="@Model.detalleCaja.Rfc" />
            <input type="hidden" asp-for="@Model.detalleCaja.Direccion" />

            <input type="hidden" asp-for="@Model.IdExpositor" value="@Model.IdExpositor" />
            @for (int i = 0; i < Model.listProductSelected.Count; i++)
            {

                <input type="checkbox" asp-for="@Model.listProductSelected[i].Selected" hidden />
                <input type="number" asp-for="@Model.listProductSelected[i].Cant" hidden />
                <input  asp-for="@Model.listProductSelected[i].IdProduct" hidden />

            }
            <div class="card-body">

                <div class=" container ">


                    <div class="card">
                        <div class="card-header  bg-dark text-white">
                            <label style="text-align:center">Cliente</label>
                        </div>

                        <div class="card-body">

                            <div class="form-group"> Razón social:  <input class="" type="text" value="@Model.GetClientes.Nombre @Model.GetClientes.Apellidos" asp-for="razonSocial" /> <br></div>
                            <div class="form-group">  RFC: <input class="" type="text" asp-for="RFC" /><br></div>
                            <div class="form-group">  Dirección: <input class="" type="text" asp-for="Direccion" /><br></div>
                            <div class="form-group">     Teléfono: <input class="" type="text" asp-for="Telefono" /> <br></div>
                            <div class="form-group">   Correo electrónico:  <input class="" asp-for="Email" type="text" value="@Model.GetClientes.Correo" /> </div>

                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header  bg-dark text-white">

                            <label style="text-align:center">Proovedor</label>

                        </div>
                        <div class="card-body">
                            Razón social:@Model.detalleCaja.RazonSocial<br>
                            RFC: @Model.detalleCaja.Rfc<br>
                            Dirección: @Model.detalleCaja.Direccion<br>
                            Teléfono: @Model.GetExpositor.Celular<br>
                            Correo electrónico: @Model.GetExpositor.Correo

                        </div>

                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-sm ">
                            <thead class="thead-dark">
                                <tr>

                                    <th>Cantidad</th>
                                    <th>Descripción del Servicio</th>
                                    <th> Precio Unitario</th>
                                </tr>

                            </thead>

                            @Html.Raw(Model.listpro.ToString())
                            <tr>
                                <th>
                                </th>
                                <td>
                                    Subtotal
                                    <br>
                                    I.V.A.
                                    <br>
                                    Total
                                </td>
                                <td style="text-align:center">
                                    @subtotal.ToString("c")
                                    <br>
                                    @Model.Iva.ToString("c")
                                    <br>
                                    @Model.Total.ToString("c")
                                </td>
                            </tr>

                        </table>
                    </div>

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th style="text-align:center">Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <textarea asp-for="observaciones" style="width:100%" rows="4">

</textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="TipoEnvio" class="control-label"></label>
                                <select asp-for="TipoEnvio" class="form-control" asp-items="ViewBag.TipoEnvio"></select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="TipoPago" class="control-label"></label>
                                <select asp-for="TipoPago" class="form-control" asp-items="ViewBag.TipoPago"></select>
                            </div>
                        </div>
                    </div>
                    <input type="checkbox" /><a href="Terminos" > Terminos y condiciones de Angular view </a>


                </div>

            </div>
            <div class="card-footer">
                <table class="table">

                    <tr>
                        <th style="text-align:center"><button type="button" class="btn btn-danger" style="width:9em">Cancelar</button></th>

                        <th style="text-align:center"><button type="submit" class="btn btn-info" style="width:9em">Solicitar</button></th>
                    </tr>

                </table>
            </div>
        </form>

    </div>
</div>